name: Build Technitium images

on:
  push:
    branches:
      - main
    tags:
      - "*"
  workflow_dispatch:
  
jobs:
  
  build-images:

    runs-on: ubuntu-latest
    container:
      image: quay.io/containers/aio:latest
    env:
      IMAGE_NAME: technitium-dns-server

    steps:

      - name: Install relevant packages
        run: dnf upgrade && dnf install git nodejs curl -y 

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Buildah build image (amd64)
        id: build-image-amd64
        uses: redhat-actions/buildah-build@v2
        with:
          oci: true
          platforms: linux/amd64
          image: ${{ env.IMAGE_NAME }}
          tags: ${{ github.ref_name }}-amd64
          containerfiles: ./Containerfile
          extra-args: |
            --isolation=chroot 

      - name: Buildah build image (arm64)
        id: build-image-arm64
        uses: redhat-actions/buildah-build@v2
        with:
          oci: true
          platforms: linux/arm64
          image: ${{ env.IMAGE_NAME }}
          tags: ${{ github.ref_name }}-arm64
          containerfiles: ./Containerfile
          extra-args: |
            --isolation=chroot 

      - name: Combine imagine manifest
        run: |
          buildah manifest create ${{ env.IMAGE_NAME }}:${{ github.ref_name }}
          buildah manifest add technitium-dns-server:${{ github.ref_name }} ${{ steps.build-image-amd64.outputs.image }}:${{ steps.build-image-amd64.outputs.tags }}
          buildah manifest add technitium-dns-server:${{ github.ref_name }} ${{ steps.build-image-arm64.outputs.image }}:${{ steps.build-image-amd64.outputs.tags }}

      - name: Push to registry
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ env.IMAGE_NAME }}
          tags: ${{ github.ref_name }}
          registry: ghcr.io/${{ github.actor }}    
          username: ${{ github.actor }}
          password: ${{ secrets.GH_PAT }}
